h1,
h2 {
  font-family: Lato;
}

li {
  list-style-type: none;
}
ul > li:not(:first-of-type) {
  border-top: 1px solid #ccc;
  padding-left: 0;
  margin-left: 0;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
}

ul > li {
  padding: 8px;
}
